.main {
	width: 100%;
	height: 100vh;
	overflow-y: scroll;
	background-image: url('/images/bg-main.png');
	background-position: center;
	background-size: cover;
	// font-family: 'supermarket';
	font-family: 'Kanit', sans-serif;
	display: flex;
	flex-direction: column;
	color: #2C3E50;

	& > section {
		flex-grow: 1;
		padding: 0 40px;
	}

	& > footer {
		font-size: 16px;
		text-align: center;
		color: #FFF;
		padding: 20px;

		& > a {
			color: #FFF;
			text-decoration: underline;
		}
	}
}

.tool_select_box,
.connect_control_box {
	border-radius: 0 0 40px 40px;
	box-shadow: 0 0 40px 0 rgb(0 0 0 / 15%);
	background-color: #FFF;
	height: 100%;
	padding: 30px;
}

.tool_select_item_box {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
	margin-left: -10px;
	margin-right: -10px;

	& > li {
		list-style: none;
		margin: 0;
		padding: 10px;
		width: 25%;

		& > div {
			border-radius: 20px;
			border: solid 2px #ECF0F1;
			display: flex;
			flex-direction: row;
			align-items: center;
			cursor: pointer;
			transition: all 300mS;

			& > div:first-child {
				color: #2C3E50;
				display: flex;
				justify-content: center;
				align-items: center;
				padding: 10px;
			}

			& > div:last-child {
				flex-grow: 1;

				& > h3 {
					color: #2C3E50;
					font-size: 32px;
				}
			}
		}

		& > div:hover {
			border-color: #CACFD2;
		}
	}
}

.connect_control_box {
	height: auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 20px 30px;

	& > div {
		display: flex;
		flex-direction: row;

		& > div {
			margin-right: 20px;
			font-size: 20px;

			& > span {
				font-weight: bold;
				text-decoration: underline;
				cursor: pointer;
			}

			& > span:hover {
				color: #2ECC71;
			}
		}
	}
}

.content_box {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	margin-top: 30px;

	& > div:first-child {
		padding-right: 30px;
		width: 330px;
	}

	& > div:last-child {
		flex-grow: 1;
	}

	& > div > div {
		border-radius: 40px;
		box-shadow: 0 0 40px 0 rgb(0 0 0 / 15%);
		background-color: #FFF;
		height: 100%;
		padding: 30px;

		& > h3 {
			margin: 0;
			margin-bottom: 10px;
		}
	}
}
